<div id="ajouter-facture-form" class="ajouter-facture-formulaire">
  <div id="modalContentFactures">
    <form action="/ajouter_facture" method="POST" class="form">
      <div class="input-fields-container">
        <div class="facture-col">
          <div class="input-box span-1">
            <label for="facture">N° Facture</label>
            <input type="number" name="facture" required />
          </div>
          <div class="input-box span-1">
            <label for="prix">Prix</label>
            <input type="number" name="prix" placeholder="Dhs" />
          </div>
          <div class="input-box span-1">
            <label for="quantite">Quantité</label>
            <input type="number" name="quantite" />
          </div>
          <div class="input-box span-1">
            <label for="produit">Produit</label>
            <input type="text" name="produit" required />
          </div>
        </div>

        <div class="facture-col">
          <div class="input-box span-1">
            <label class="required-field" for="nomClient">Nom du Client</label>
            <input type="text" name="nomClient" required />
          </div>
          <div class="input-box span-1">
            <label class="required-field" for="telephone"
              >Numéro de Téléphone</label
            >
            <input type="tel" name="telephone" required />
          </div>
          <div class="input-box span-2">
            <label for="adresse">Adresse</label>
            <input type="text" name="adresse" required />
          </div>
          <div class="input-box span-1">
            <label for="paiement">Type de Paiement</label>
            <select name="paiement" id="paiement">
              <option disabled selected value="">
                -- Sélectionner une option --
              </option>
              <option value="virement">Viremement</option>
              <option value="livraison">A la Livraison</option>
            </select>
          </div>
          <div class="input-box span-1">
            <label for="demande">N° Demande</label>
            <input type="number" name="demande" required readonly />
          </div>
        </div>
      </div>
      <hr />

      <button class="facture-form-button" type="submit">Ajouter</button>
    </form>
  </div>
</div>
