<div id="ajouter-facture-form" class="ajouter-facture-formulaire">
  <div id="modalContentFactures">
    <form action="/ajouter_facture" method="POST" class="form">
      <div class="input-fields-container">
        <div class="facture-col">
          <div class="input-box span-1">
            <label for="facture">N° Facture</label>
            <input
              id="numFacture"
              type="number"
              name="facture"
              value="<%= maxNumFacture %>"
              readonly
              required
            />
          </div>
          <div class="input-box span-1">
            <label for="prix">Prix</label>
            <input id="prixFacture" type="number" name="prix" placeholder="Dhs" />
          </div>
          <div class="input-box span-1">
            <label for="quantite">Quantité</label>
            <input id="quantiteFacture" type="number" name="quantite" />
          </div>
          <div class="input-box span-1">
            <label for="produit">Produit</label>
            <input id="produitFacture" type="text" name="produit" required />
          </div>
        </div>

        <div class="facture-col">
          <div class="input-box span-1">
            <label class="required-field" for="nomClient">Nom du Client</label>
            <input id="nomClientFacture" type="text" name="nomClient" required />
          </div>
          <div class="input-box span-1">
            <label class="required-field" for="telephone"
              >Numéro de Téléphone</label
            >
            <input id="numTelephoneFacture" type="tel" name="telephone" required />
          </div>
          <div class="input-box span-2">
            <label for="adresse">Adresse</label>
            <input id="adresseFacture" type="text" name="adresse" required />
          </div>
          <div class="input-box span-1">
            <label for="paiement">Type de Paiement</label>
            <select name="paiement" id="typePaiementFacture">
              <option disabled selected value="">
                -- Sélectionner une option --
              </option>
              <option value="Virement">Viremement</option>
              <option value="A la Livraison">A la Livraison</option>
            </select>
          </div>
          <div class="input-box span-1">
            <label for="demande">N° Demande</label>
            <input
              id="numDemandeFacture"
              type="number"
              name="demande"
              required
              readonly
            />
          </div>
        </div>
      </div>
      <hr />

      <button class="facture-form-button" type="submit">Créer Facture</button>
    </form>
  </div>
</div>
