    </div>

    <script src="/js/header.js"></script>
    <script src="/js/villes.js"></script>
    <script src="/js/recherche.js"></script>
    <script src="/js/filtre.js"></script>
    <script src="/js/classerTable.js"></script>
    <script src="/js/rapport_graphe_source.js"></script>
    <script src="/js/rapport_graphe_etatClient.js"></script>
    <script src="/js/rapport_graphe_ville.js"></script>
    <script>
    // Get the button element by its ID
$(".reloadButton").on('click',function(){
    location.reload();

})

// Add a click event listener to the button
reloadButton.addEventListener("click", function() {
    // Reload the current page when the button is clicked
});

      
    </script>
  </body>
</html>
