    </div>

    <script src="/js/header.js"></script>
    <script src="/js/formulaire_flotant.js"></script>
    <script src="/js/villes.js"></script>
    <script src="/js/recherche.js"></script>
    <script src="/js/filtre.js"></script>
    <script src="/js/classerTable.js"></script>
    <script src="/js/rapport_graphe_source.js"></script>
    <script src="/js/rapport_graphe_etatClient.js"></script>
    <script src="/js/Tables/renderTableFactures.js"></script>
    <script src="/js/Tables/renderTableDemande.js"></script>
    <script>
    // Get the button element by its ID
$(".reloadButton").on('click',function(){
    location.reload();

})



  
      
    </script>
  </body>
</html>
