<%- include("partials/header") -%>
<div class="body-accueil">
  <div class="logo-accueil">
    <a href="/">
      <img id="logo-dashboard" src="/images/FULL LOGO.png" alt="logo Airlod" />
    </a>
    <img id="dashboard-icon" src="/images/ICON .png" alt="icône Airlod" />
  </div>
  <div class="button-container">
    <h1>Tableau de Bord</h1>
    <p>Bienvenue sur le Tableau de Bord, <%= firstName %></p>
    <button id="afficherRapports">Afficher les Rapports</button>
  </div>
  <div class="accueil">
    <div class="kpi-container span-2">
      <div class="kpiData">
        <h3><i class='bx bxs-user-voice'></i> Demandes</h3>
        <h4 class="kpi-data" id="kpi-data-1"></h4>
      </div>
      <div class="kpiData">
        <h3>Commandes envoyées</h3>
        <h4 class="kpi-data" id="kpi-data-2"></h4>
      </div>
      <div class="kpiData">
        <h3><i class='bx bx-spreadsheet' ></i> Factures</h3>
        <h4 class="kpi-data" id="kpi-data-3"></h4>
      </div>
      <div class="kpiData">
        <canvas id="sourceChart"></canvas>
      </div>
    </div>
    <div class="accueil-kpi kpi-1 span-2">
      <canvas id="etatClientChart"></canvas>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>
