<%- include("partials/header") -%>
<div class="body-accueil">
  <div class="logo-accueil">
    <a href="/">
      <img id="logo-dashboard" src="/images/FULL LOGO.png" alt="logo Airlod" />
    </a>
    <img id="dashboard-icon" src="/images/ICON .png" alt="icône Airlod" />
  </div>
  <div class="button-container">
    <h1>Tableau de Bord</h1>
    <p>Bienvenue sur le Tableau de Bord, <%= firstName %></p>
    <button id="afficherRapports">Afficher les Rapports</button>
  </div>
  <div class="accueil">
    <div class="accueil-kpi kpi-1">
      <canvas id="etatClientChart"></canvas>
    </div>
    <div id="main" class="accueil-kpi kpi-2">
      <canvas id="sourceChart"></canvas>
      
    </div>
    <div id="main2"  class="accueil-kpi kpi-3"></div>
  </div>
</div>
<%- include("partials/footer") -%>
