<%- include("partials/header") -%>
<div class="list-header">
  <h1 class="list-title">
    Demande<a href="/ajouter_demande"><i class="bx bx-plus"></i></a>
  </h1>
  <div class="list-search-button">
    <button type="" class="reloadButton">
      <i class="bx bx-refresh"></i>
    </button>
  </div>
</div>
<div class="table-container">
  <table id="tableDemandes" class="display" width="100%"></table>
</div>

<%- include("partials/footer") -%>
