<%- include("partials/header") -%>
<div id="list-header" class="list-header">
  <h1 class="list-title">
    Factures
  </h1>
</div>

<div class="table-container">
  <!--  -->
  <div id="tableFactures"></div>
</div>

<%- include("partials/telecharger_facture") -%>
<%- include("partials/footer") -%>


