<%- include("partials/header") -%>
<div id="list-header" class="list-header">
  <h1 class="list-title">
    Facture<a href="/ajouter_facture"><i class="bx bx-plus"></i></a>
  </h1>
  <div id="list-filters" class="list-filters">
    <div class="filtre-1 list-search-bar">
      <input
        id="rechercheFactureInput"
        type="text"
        class="search-bar-text"
        placeholder="Nom du Client"
      />
    </div>
    <div class="filtre-3 list-search-button">
      <button type="" class="reloadButton">
        <i class="bx bx-refresh"></i>
      </button>
    </div>
  </div>
</div>

<div class="table-container">
  <!--  -->
  <div id="tableFactures"></div>
</div>


<%- include("partials/footer") -%>


