<%- include("partials/header") -%>
<div id="list-header" class="list-header">
  <h1 class="list-title">
    Facture<a href="/ajouter_facture"><i class="bx bx-plus"></i></a>
  </h1>

  <div class="list-search-button">
    <button type="" class="reloadButton">
      <i class="bx bx-refresh"></i>
    </button>
  </div>
</div>

<div class="table-container">
  <table id="tableFactures"></table>
</div>

<%- include("partials/footer") -%>
