<%- include("partials/header") -%>

<section class="ajouter-demande">
  <div class="ajouter-demande-header">
    <h3>Modifier Demande</h3>
    <p>Veuillez remplir tous les champs obligatoire et cliquer sur ajouter !</p>
  </div>
  <div class="ajouter-demande-formulaire">
    <form action="/modifier_demande" method="POST" class="form">
      <div class="input-fields-container">
        <div class="column-1">
          <div class="input-box">
            <label for="demande">N° Demande</label>
            <input type="number" name="demande" value="5" readonly />
            
          </div>
          <div class="input-box input-box-2">
            <label class="required-field" for="destinataire"
              >Nom du Client</label
            >
            <input type="text" name="destinataire" required />
          </div>
          <div class="input-box span-2">
            <label class="required-field" for="telephone"
              >Numéro de Téléphone</label
            >
            <input type="tel" name="telephone" required />
          </div>
          <div class="input-box span-2">
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="exemple@gmail.com"/>
          </div>

          <div class="input-box span-2">
            <label class="required-field" for="ville">Ville</label>
            <input type="text" id="villeInput"  name="ville" list="villes" required />
            <datalist id="villes">

            </datalist>
          </div>
          <div class="input-box span-2">
            <label for="adresse">Adresse</label>
            <input type="text" name="adresse" required />
          </div>
          <div class="grid-row">
            <div class="input-box flex-1">
              <label class="required-field" for="typeClient"
                >Type de Client</label
              >
              <select name="typeClient" required>
                <option disabled selected value="">
                  -- Sélectionner une option --
                </option>
                <option value="Pressé">Client pressé</option>
                <option value="Instruit">Instruit</option>
                <option value="Indecis">Indécis</option>
                <option value="Agressif">Agressif</option>
                <option value="Négociateur">Négociateur</option>
              </select>
            </div>

            <div class="input-box flex-1">
              <label class="required-field" for="source">Source</label>
              <select name="source" required>
                <option disabled selected value="">
                  -- Sélectionner une option --
                </option>
                <option value="Whatsapp">Whatsapp</option>
                <option value="Messenger">Messenger</option>
                <option value="Instagram">Instagram</option>
                <option value="Landing">Landing Page</option>
                <option value="Site">Site</option>
                <option value="Bouche à oreil">Bouche à Oreil</option>
              </select>
            </div>
          </div>
          <div class="input-box span-2">
            <label class="required-field" for="etape">Etape Actuelle</label>
            <select name="etape" required>
              <option disabled selected value="">
                -- Sélectionner une option --
              </option>
              <option value="Découvre ses besoins">Découvre ses besoins</option>
              <option value="Conception">Conception</option>
              <option value="Validation">Validation</option>
              <option value="Production">Production</option>
              <option value="Livraison">Livraison</option>
            </select>
          </div>
          <div class="input-box span-4">
            <label class="required-field" for="etatClient">Etat du client</label>
            <select name="etatClient" required>
              <option disabled selected value="">
                -- Sélectionner une option --
              </option>
              <option value="Intéressé">Intéressé</option>
              <option value="En Discussion">En Discussion</option>
              <option value="Attente Logo">Attente de Logo</option>
              <option value="Attente Confirmation">Attente de Confirmation</option>
              <option value="Pas de Réponse">Pas de Réponse</option>
              <option value="Non Intéressé">Non Intéressé</option>
              <option value="Design en Cours">Design En Cours</option>
              <option value="Design Validé">Design Validé</option>
              <option value="Attente Ramassage">Attente de Ramassage</option>
              <option value="Envoyé">Envoyé</option>
            </select>
          </div>
        </div>

        <div class="column-2">
          <div class="input-box span-2">
            <label for="facture">N° Facture</label>
            <input type="number" name="facture" required />
          </div>
          <div class="input-box span-2">
            <label for="produit">Produit</label>
            <input type="text" name="produit" required />
          </div>
          <div class="input-box span-1">
            <label for="prix">Prix</label>
            <input type="number" name="prix" placeholder="Dhs"/>
          </div>
          <div class="input-box span-1">
            <label for="quantite">Quantité</label>
            <input type="number" name="quantite" />
          </div>
          <div class="input-box span-2">
            <label for="paiement">Type de Paiement</label>
            <select name="paiement" id="paiement">
              <option disabled selected value="">
                -- Sélectionner une option --
              </option>
              <option value="virement">Viremement</option>
              <option value="livraison">A la Livraison</option>
            </select>
          </div>

          <div class="input-box span-4">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"></textarea>
          </div>
          <div class="input-box span-4">
            <label for="remarque">Remarque (NB)</label>
            <textarea name="remarque" id="remarque" rows="5"></textarea>
          </div>
        </div>
      </div>
      <hr />

      <button class="demande-form-button" type="submit">Enregistrer</button>
    </form>
  </div>
</section>


<%- include("partials/footer") -%>
