.ajouter-produit-formulaire {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 550px;
}

.input-fields-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}

.produit-column-1{
    flex: 2;
}

.produit-column-2{
    flex: 8;
}

.form-img-upload{
    width: 150px;
    height: 150px;
}

.produit-form-button{
    position: absolute;
  /* left: 10px; */
  /* margin: 10px;
    margin-right: 50px; */
  padding: 10px;
  border: solid 1px rgb(5, 0, 77);
  border-radius: 40px;
  background-color: rgb(5, 0, 77);
  width: 140px;
  right: 50px;
  bottom: 30px;
  font-weight: bold;
  color: white;
}

.produit-form-button:hover{
    background-color: rgb(59, 58, 84);
}