#list-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#list-filters{
    display: flex;
    
}

#list-filters input{
    width: 300px;
}






#tableDemandes .tabulator-cell{
  padding: 8px;
  height: 60px;
  border: none;
}

#tableDemandes{
  border: none;
}
#tableDemandes .tabulator-row.tabulator-selectable.tabulator-row-odd.tabulator-selected.tabulator-selected{
  background-color: #d0e3ff;
}
#tableDemandes .tabulator-row-even{
  background-color: #F1F5FB;
}
#tableDemandes .tabulator-row-even:hover{
  background-color: #d0e3ff;
}
#tableDemandes .tabulator-row-odd{
  background-color: white;
}
#tableDemandes .tabulator-row-odd:hover{
  background-color: #d0e3ff;
}
#tableDemandes .tabulator-footer{
  background-color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 55%;
}

#tableDemandes .tabulator-page.active{
  color: white;
}