.list-header {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.list-header a {
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}

.list-header a:hover {
  background-color: #eaedf1;
}
#list-search-button button {
  width: 40px;
  height: 50%;
  color: #2f353e;
  border-radius: 30px;
  font-size: 26px;
  border: none;
  background: none;
}
.table-container{
  overflow: scroll;
  width: 100%;
  height: 500px;
}

.tabulator-header{
  background-color: rgb(23, 61, 48);
}
