#telecharger-facture {
  margin-top: 10px;
  min-height: 1100px;
}
.telecharger-facture-formulaire {
  position: relative;
  background-color: white;
  margin: 0;
}
#modal-telecharger-facture {
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 100%;
}

.telecharger-facture-header {
  width: 100%;
  height: 150px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.logo-devis {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.infos-entreprise {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.infos-entreprise p {
  color: white;
  text-align: right;
}

#header-left-logo {
  height: 80%;
}

#header-right-logo {
  height: 50%;
}

.details-commande {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}



#client{
  font-size: 24px;
  margin-bottom: 20px;
  
}
.telecharger-facture-formulaire label {
  font-weight: normal;
}
.telecharger-facture-formulaire input {
  border: none;
  font-weight: bold;
}
.infos-client input{
  min-width: 400px;

}
.infos-commande {
  width: 100%;
  margin: 50px auto;
}

.infos-commande table {
  width: 100%;
  border: black solid 1px;
}

.infos-commande table td {
  border-top: rgb(131, 131, 131) solid 1px;
  border-bottom: rgb(131, 131, 131) solid 1px;
  padding: 10px;
}

.infos-commande table td input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}

.infos-commande table th {
  border-top: black solid 4px;
  color: black;
  font-weight: bolder;
  text-align: center;
  padding: 10px;

}




.details-commande p{
  color: black;
  font-weight: bold;
}

.date-devis{
  width: 240px;
  max-width: 240px;
}
.date-devis p {
  background-color: #f2f2f2;
  color: black;
  font-weight: normal;
  padding: 15px;
  margin: 0;
}

#dateAuj{
    font-weight: bold;
}


.date-devis #ref {
  color: black;
  background-color: #f2f2f2;
  width: 70px;
  max-width: 70px;
  font-weight: bold;

}

.telecharger-facture-formulaire input:hover {
  border: 1px solid black;
}

.table-recap {
  display: table;
  width: 40%;
  background-color: #f1f1f1;
  float: right;
}
.table-recap input {
  background-color: #f1f1f1;
  color: black;
  height: 3rem;
  width: 100%;
}

.table-recap .montant-total{
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.table-cell {
  display: table-cell;
  border: none;
  padding: 5px;
  max-width: 60px;
}

.table-header {
  font-weight: bold;
  min-width: 40px;
}

#facture-form-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #2f353e;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  color: white;
}


.airlodBackgr {
  position: absolute;
  bottom: 10%;
  right: 1%;
  width: 100px;
  z-index: 0;
  transform: rotate(-40deg);
}

#signature{
  
  min-height: 100px;
  min-width: 120px;
  position: absolute;
  bottom: 5%;
  left: 1%;
}

#signature h6{
  font-weight: bold;
  font-size: 18px;
}